*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/apple-bg.jpg);
    background-size: cover;
    background-position:center ;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(194, 111, 111);
    min-height: 2000px;
}

.navbar{
    width :85%;
    margin: auto;
    padding: 1.4rem 7%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    position:fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 9999;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: rgb(252, 220, 220);
    font-weight: bold;
    width: 100;
    cursor: pointer;
    font-style: italic;
}
    

span{
    color: rgb(250, 89, 89);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: blanchedalmond;
    text-transform: uppercase;
}

.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li :hover::after{
    width: 100%;
}

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../images/apple-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    /* text-align: center;
    color: rgb(255, 255, 255);
    transform: translateY(-50%); */
}

.hero .content h1{
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px,rgba(1,1,3,0.5);
    line-height: 1.2;
}
.hero .content span{
    color:rgb(250, 89, 89);
}
.hero .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    color: #360303;

}

.product body {
    font-family: serif;
    color: #a89292;
  background-color: rgba(121, 51, 51, 0.5);
  font-size: 16px;
  padding-bottom: 5rem;
}

.product .headline {
  font-size: 1.25rem;
  font-weight: 600;
}

.product .text--small {
  font-size: 0.875rem;
}

a {
  color: #606FC7;
  font-weight: 600;
}

a:hover {
  color: #434190;
}

i {
  position: absolute;
  padding: 0.75rem;
  color: #606FC7;
}

span.icon {
  position: absolute;
  padding: 0.5rem;
  right: 0;
}

.header {
  background-color: rgb(248, 118, 118);
  padding: 1rem;
  padding-bottom: 2.5rem;
}

.header__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
  max-width: 56rem;
}

.header__logo {
  height: 4rem;
}

.header__label {
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
}

.content {
  padding: 1rem;
  width: 100%;
}

.content__grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  max-width: 56rem;
  column-gap: 1rem;
  row-gap: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#imageOptions.content__grid {
  grid-template-rows: repeat(2, minmax(0, 0.5fr));
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.relative {
  position: relative;
}

.col-6-m3 {
  grid-column: span 6 / span 6;
}

.col-12-s6-m4, .col-12-m6, .col-12-m8, .col-12 {
  grid-column: span 12 / span 12;
}

.result {
  max-width: 56rem;
}

.result__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.divider {
  border-width: 1px;
  border-color: #cbd5e0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  height: 0;
}

input:disabled {
  background-color: white;
}

.input {
  border-width: 1px;
  border-color: #cbd5e0;
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.input--left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1rem;
}

.input__icon {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.input__label {
  margin-bottom: 0.5rem;
  display: block;
}

.bttn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: white;
  border-width: 1px;
  border-color: #cbd5e0;
  margin-right: -0.5rem;
  height: 2.5rem;
}

.bttn.fill {
  width: 50%;
}

.bttn:focus {
  outline: 1px dotted;
}

.bttn:hover {
  background-color: #edf2f7;
}

.left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.right {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-right: 0;
}

.bttn.active {
  background-color: #e46b75;
  color: white;
  border-width: 1px;
  border-color: #606FC7;
}

.bttn__primary {
  background-color: #606FC7;
  color: rgb(134, 24, 24);
  border-width: 1px;
  border-color: #606FC7;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.bttn.active:hover, .bttn__primary:hover {
  background-color: #e46b75;

}

.codeblock {
  border-width: 1px;
  border-color: #cbd5e0;
  border-radius: 0.25rem;
  display: block;
  padding: 0.75rem;
  background-color: white;
}

#urlContainer {
  display: none;
}

/* small breakpoint */
@media (min-width: 640px) {
  .header {
      padding: 2.5rem;
  }
  .header__grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(2, minmax(0, 1fr));
  }
  .header__logo {
      grid-column: span 2 / span 2;
  }
  .content {
      padding: 2.5rem;
  }
  .content__grid {
      column-gap: 1rem;
      row-gap: 2.5rem;
  }
  .col-12-s6-m4 {
      grid-column: span 6 / span 6;
  }
}

/* medium breakpoint */
@media (min-width: 768px) {
  .header__grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  .header__logo {
      grid-column: span 1 / span 1;
  }
  .col-6-m3 {
      grid-column: span 3 / span 3;
  }
  .col-12-s6-m4 {
      grid-column: span 4 / span 4;
  }
  .col-12-m6 {
      grid-column: span 6 / span 6;
  }
  .col-12-m8 {
      grid-column: span 8 / span 8;
  }
  .bttn {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

.tentang{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tentang .content h2{
   color: white;
}

.tentang .content p{
  color: #fff;
  font-size: medium;
}
.tim{
  min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: darksalmon;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-center {
  text-align: center;
  
}

h2 {
  margin-bottom: 50px;
  font-family: 'Pacifico', cursive;
  font-size: 36px; /* Add margin to the bottom of the title for spacing */
}

h2 span {
  color: rgb(134, 24, 24); /* Optionally, you can add color to the span */
}

#resultContainer {
  display: flex;
}

.gallery-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Add margin to the top of the gallery container */
}

.gallery-item {
  text-align: center;
  margin: 0 10px; /* Add margin to the left and right of each gallery item */
}

img {
  display: flex;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.camera-container {
  display: flex;
  justify-content: space-around;
  margin-top: 140px; /* Add margin to the top of the gallery container */
}
/* .webcam {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.camera {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.camera .content {
  color: white;
}

.webcam {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*laptop*/
@media(max-width:1366px){
    html{
        font-size: 75%;
    }
}

/*tablet*/
@media(max-width:768px){
    html{
        font-size: 62.5%;
    }
}

/*laptop*/
@media(max-width:450px){
    html{
        font-size: 55%;
    }
}